{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link href='{% static "css/AdminLTE.min.css" %}' type='text/css' rel='stylesheet'/>
<link href='{% static "css/dashboard.css" %}' type='text/css' rel='stylesheet'/>
{% endblock %}

{% block content %}
<!-- Sidebar and navbar here -->

{% block dashcontent %}
<!-- Dashboard content here -->
{% endblock %}

<!-- Footer here -->
{% endblock %}

{% block scripts %}
<script src='{% static "js/app.min.js" %}' type='text/javascript'></script>
{% endblock %}
