{% extends 'dashboard.html' %}

{% block dashcontent %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Admin Dashboard
        </h1>
    </section>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <section class="content">
              <!-- Default box -->
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Add new recipient</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <form class="" action="{% url 'addrec' %}" method="post" role="form">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" value="" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hla">HLA</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="hla" value="" placeholder="hla-a">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="age" value="" placeholder="18">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight (lbs)</label>
                        <div class="form-group">
                            <input type="number" step="0.01" class="form-control" name="weight" value="" placeholder="90.05">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="blood">Blood type</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="blood" value="" placeholder="a+">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact number</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="contact" value="" placeholder="639xxyyyzzzz">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="organ">Organ needed</label>
                        <select class="form-control" name="organ">
                            {% for organ in organs%}
                            <option value="{{organ.id}}">{{ organ.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="anti">Reactive antibodies</label>
                        <div class="form-group">
                            <input type="number" step="0.01" class="form-control" name="anti" value="" placeholder="0.00">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prev">Previous donor?</label>
                        <div class="form-group">
                            <div class="radio">
                              <label>
                                <input name="prev" id="optionsRadios1" value="0" checked="" type="radio">
                                Yes
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input name="prev" id="optionsRadios2" value="1" checked="checked" type="radio">
                                No
                              </label>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" name="" class="btn btn-success" id="btnSave">Save</button>
                </div><!-- /.box-footer-->
              </form>
              </div><!-- /.box -->
            </section>
        </div>
    </div>
</div>

{% endblock %}
