{% extends 'dashboard.html' %}

{% block dashcontent %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Admin Dashboard
        </h1>
    </section>
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">View Available Organs</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          Hello
        </div><!-- /.box-body -->
        <div class="box-footer">

        </div><!-- /.box-footer-->
      </div><!-- /.box -->
    </section>
</div>

{% endblock %}
